In [6]:
# import packages and modules
import fredapi as fa
import pandas as pd
import pymongo
from config import fredapi_key

In [7]:
fred = fa.Fred(fredapi_key)

In [8]:
canada_debt_gdp = fred.get_series('HDTGPDCAQ163N')
canada_debt_gdp.name = 'canada_ratio'
canada_debt_gdp

2005-01-01     66.872375
2005-04-01     68.803875
2005-07-01     70.869590
2005-10-01     72.535189
2006-01-01     70.029346
                 ...
2021-07-01    105.946543
2021-10-01    107.914994
2022-01-01     96.949360
2022-04-01     99.429963
2022-07-01    101.047790
Name: canada_ratio, Length: 71, dtype: float64

In [9]:
usa_debt_gdp = fred.get_series('HDTGPDUSQ163N')
usa_debt_gdp.name = 'usa_ratio'
usa_debt_gdp

2005-01-01    87.157525
2005-04-01    89.708126
2005-07-01    92.393651
2005-10-01    94.648123
2006-01-01    91.952054
                ...
2021-07-01    78.138204
2021-10-01    79.834824
2022-01-01    74.110958
2022-04-01    75.550657
2022-07-01    76.829614
Name: usa_ratio, Length: 71, dtype: float64

In [10]:
df = pd.merge(canada_debt_gdp, usa_debt_gdp, left_index=True, right_index=True)
df

            canada_ratio  usa_ratio
2005-01-01     66.872375  87.157525
2005-04-01     68.803875  89.708126
2005-07-01     70.869590  92.393651
2005-10-01     72.535189  94.648123
2006-01-01     70.029346  91.952054
...                  ...        ...
2021-07-01    105.946543  78.138204
2021-10-01    107.914994  79.834824
2022-01-01     96.949360  74.110958
2022-04-01     99.429963  75.550657
2022-07-01    101.047790  76.829614

[71 rows x 2 columns]